<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="picks a random restaurant">
    <meta name="author" content="sam kirby">
    <link rel="icon" href="favicon.ico">

    <title>where should i eat .today</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="rr.css" rel="stylesheet">
    <script>

      function playlistOption(){
        var list = document.getElementById("playlist");
        if(selectedIndex = "Anything!"){
          while(list.options.length){
            list.remove(0);
          }
          list.options.add(new Option('Test'));

      }
    </script>



  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-50 p-3 mx-auto flex-column">
    	<h3 class="masthead-brand">Restaurant Roulette</h3>

      <header class="masthead mb-auto">
        <div class="inner">
          

          <!--
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
      -->
        </div>
      </header>

      <main role="main" class="inner cover">
       <!-- <h1 class="cover-heading">What's for lunch?</h1>-->
        <!--<p class="lead">What's for lunch?</p>
    -->
      


<form id="form1" action = "/process_post" method = "POST">
 
  <div class="form-group">
    <label for="playlist">What are you hungry for?</label>
    <select class="form-control" id="playlist" input type = "text" name = "playlist">
      <option>Lunch</option>
      <option>Something Healthy</option>
      <option>Vegan</option>
      <option>Vegetarian</option>
      <option>Gluten free</option>
      <option>Quick bite</option>
      <option>Coffee</option>
      <option>Fast Food</option>     
    </select>
  </div>

  <div class="form-group">
    <label for="address">Location</label>
    <input type="text" class="form-control" id="address" value="UCSD" name="address">
  </div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Max Distance</label>
  </div>
  <select class="custom-select" id="distanceSelect">
    <option selected>Choose...</option>
    <option value="1609"><1 Mile</option>
    <option value="8046"><3 Miles</option>
    <option value="16093"><10 Miles</option>
  </select>
</div>
   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="priceSelect"> Max Price </label>
  </div>
  <select class="custom-select" id="priceSelect">
    <option selected>Choose...</option>
    <option value="$"><$</option>
    <option value="$$"><$$</option>
    <option value="$$$">$$$</option>
    <option value="$$$$"><$$$$</option>
  </select>
</div>
<!--
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">$</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">10-20</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
    <label class="form-check-label" for="inlineCheckbox3">20+ (disabled)</label>
  </div>
-->
  <br>
  <input type = "submit" class="btn btn-lg btn-secondary"value = "Roll!">
</form>


<p>

      </main>

      <footer class="mastfoot mt-auto">
       <!--
        <div class="inner">
          <p>Restaurant Roulette</p>
        </div>-->
      </footer>


    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124206262-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-124206262-1');
	</script>





  </body>
</html>

